.tickets {
  .header {
    font-weight: 600;
  }

  .ticket {
    position: relative;
    border-bottom: 1px solid #c3c3c3;
    padding: 10px 0 10px 0;

    .content {
      .author {
        font-weight: 400;
        margin: 0 20px 0 0;
      }

      .title {
        font-size: 14pt;
        font-weight: 600;
      }

      .description {
        color: #686868;
      }

      .severity {
        float: left;
        width: 18px;
        height: 18px;
        border-radius: 10px;
        margin: 0 10px 0 0;
        background: #979a9c;
      }
    }

    .created-at {
      position: absolute;
      top: 10px;
      right: 0;
    }
  }

  .ticket:last-child {
    border-bottom: none;
  }
}
