.app {
  background: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12pt;
  font-weight: 200;

  .red {
    background: #dc2412 !important;;
  }

  .yellow {
    background: #f9e917 !important;;
  }

  .green {
    background: #41ed00 !important;;
  }

  .light-yellow {
    background: #feffe5;
  }

  .light-green {
    background: #ecffe5;
  }
}